@{
    ViewBag.Title = "GenerateInsurance";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Generate Insurance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <style>
        table {
      font-family: arial, sans-serif;
      width: 100%;
      border:1px solid black;
        }
    </style>
</head>
    <body>
            <nav class="nav nav-tabs">
              <div class="container-fluid">  
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#1" data-toggle="tab">SKYGO</a></li>
                  <li><a href="#2" data-toggle="tab">SNDC</a></li>
                  <li><a href="#3" data-toggle="tab">BLUSKY</a></li>
                  <li><a href="#4" data-toggle="tab">NASI</a></li>
                  <li><a href="#5" data-toggle="tab">NIVI</a></li>
                  <li><a href="#6" data-toggle="tab">CGSI</a></li>
                  <li><a href="#7" data-toggle="tab">ABLE</a></li>
                  <li><a href="#8" data-toggle="tab">EGFI</a></li>
                  <li><a href="#9" data-toggle="tab">ELFC</a></li>
                  <li><a href="#10" data-toggle="tab">KMC</a></li>
                  <li><a href="#11" data-toggle="tab">GKMC</a></li>
                  <li><a href="#12" data-toggle="tab">NMMC</a></li>
                  <li><a href="#13" data-toggle="tab">CMC</a></li>
                  <li><a href="#14" data-toggle="tab">HLSSC</a></li>
                  <li><a href="#15" data-toggle="tab">TMOPC</a></li>
                </ul>
              </div>
            </nav>

     <div class="container">
        <div class="tab-content ">
            <div class="tab-pane active" id="1" style="max-width:1010px; height:480px; border:1px solid #428bca; border-radius:5px;">

                <table>
                    <tr>
                        <th>Branch</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Extension Name</th>
                        <th>Civil Status</th>
                        <th>Birth Date</th>
                       @* <th>Age</th>
                        <th>Member Type</th>
                        <th>Principal Name</th>
                        <th>Relationship</th>
                        <th>Gender</th>
                        <th>Position</th>
                        <th>Date Hired</th>
                        <th>Effective Date</th>
                        <th>Plan</th>
                        <th>Rank</th>
                        <th>Premium</th>
                        <th>Subsidy</th>
                        <th>AR-Emp</th>
                        <th>/Payroll</th>
                        <th>Employee No</th>*@
                    </tr>
                </table>
               

            </div> @*end of first tab*@
            <div class="tab-pane" id="2" style="max-width:1010px; height:480px; border:1px solid #428bca; border-radius:5px;">
            </div>

        </div> @* end of tab-content *@
     </div> @*end of container*@
    </body>
 </html>


